#container{
	width:100%;
	height:460px;
}
#h{
	padding-top:0;
	margin:0;
	}
#video{
	width:50%;
	float:right;
	
}
#images,#images1{
	width:100%;
	height:300px;
	display: flex;
	
}
#img1{
	margin-top:0;
	height:300px;
	width:33.33%;
	float:left;
	flex:33.33%;
	padding-right:5px;
	padding-bottom:5px;
}
#img1::after {
  content: "";
  clear: both;
  display: table;
  margin-bottom:0;
}
#video1{
	width:50%;
	float:left;
}
footer{
height:50px;
margin-top:0;
color:#0040FF;
font-style:oblique;
font-size:2.0rem;
}
#content,#content1{
font-style:oblique;
font-size:2.0rem;
float:left;
width:570px;
color:#0040FF;
}


